h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin-bottom: .3rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

header .logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

header .logo:hover {
  text-decoration: none;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

footer.footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

footer.footer p:last-child {
  margin-bottom: 0;
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.owl-carousel .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  opacity: 0.85;

  transition: width 0.5s ease, background-color 0.5s ease;
}

.owl-carousel .owl-dots .owl-dot.active span {
  width: 50px;
}

.owl-carousel .slider-item {
  border-radius: .25rem;
  position: relative;
  overflow: hidden;
}

.owl-carousel .slider-item>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 2rem;

  color: #f9f9f9;

  background-color: rgba(33, 33, 33, 0.5);
}

.owl-carousel .slider-btn {
  color: #fff;
  background-color: #8a8888;
  padding: .25rem 1.25rem;
  border-radius: .25rem;

  text-decoration: none;

  transition: color 0.5s ease, background-color 0.5s ease;
}

.owl-carousel .slider-btn:hover {
  text-decoration: none;
  cursor: pointer;
  color: #333;
  background-color: #f9f9f9;
}

.v-middle {
  display: flex;
  align-items: center;
}


.event .event-category {
  color: #d40000;
  font-size: .85rem;
  margin-bottom: .25rem;
}

.event .event-title {
  color: #333;
  font-size: 1.25rem;
  margin-bottom: .25rem;
}

.event .event-date {
  color: #606060;
  margin-bottom: .25rem;
}

.event .event-date span {
  color: #f00;
  font-weight: bold;
}

.event .event-link {
  padding: .5rem 2rem;
  color: #fff;
  background-color: #d40000;
  font-size: .9rem;
  font-weight: bold;
  border-radius: .25rem;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.event .event-link:hover {
  color: #d40000;
  background-color: #ddd;
  text-decoration: none;
}

.btn.btn-primary {
  padding: .5rem 2rem;
  color: #fff;
  background-color: #d40000;
  border-color: #b40505;
  font-size: .9rem;
  font-weight: bold;
  border-radius: .25rem;
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.btn.btn-primary:hover {
  color: #d40000;
  border-color: #a3a0a0;
  background-color: #ddd;
  text-decoration: none;
}

.owl-carousel h2 {
  color: #fff;
}

.mw-350 {
  max-width: 350px;
}