header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

header .logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

header .logo:hover {
  text-decoration: none;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

footer.footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
footer.footer p:last-child {
  margin-bottom: 0;
}

.owl-carousel .owl-dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.owl-carousel .owl-dots .owl-dot span{
  width: 6px;
  height: 6px;
  opacity: 0.75;

  transition: width 0.5s ease, background-color 0.5s ease;
}

.owl-carousel .owl-dots .owl-dot.active span{
  width: 50px;
}